{% extends 'homemaster.html' %}

{% block content %}
{% include 'homenav2.html' %}


<div class="visible-xs" style="margin-top: 46px">
    <iframe class="explorer" style="width:100% ;  height:calc(100vh - 40px - 130px) ;border-width: 0px" src="/3D/explorer.html?workid={{ware.workid}}"></iframe>
</div>  
    

<section class="blog-section section-padding" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="posts-content single-post">

                    <article class="post-wrapper">
                        <div class="embed-responsive embed-responsive-4by3 hidden-xs" >
                            <iframe class="explorer" name="explorer" style="width:100% ;  border-width: 0px" src="/3D/explorer.html?workid={{ware.workid}}"></iframe>
                        </div>  
                      <header class="entry-header-wrapper clearfix" style="padding-top:15px;padding-bottom:0px">

                        <div class="author-thumb waves-effect waves-light">
                          <a href="#"><img src="../../media/User/{{ware.username.id}}/head.jpg" alt=""></a>                
                        </div>
                        
                        <div class="entry-header">
                          <h2 class="entry-title">{{ware.title}}</h2>

                          <div class="entry-meta">
                              <ul class="list-inline">
                                  <li>
                                      <i class="fa fa-clock-o"></i><a href="#">{{ware.opendate}}</a>
                                  </li>                                  
                                  <li>
                                      <i class="fa fa-user"></i><a href="/User/viewprofile.html?id={{ware.username.id}}">{{ware.username.username}}</a>

                                  </li>


                              </ul>
                          </div><!-- .entry-meta -->
                          
                        </div>

                      </header><!-- /.entry-header-wrapper -->

                    </br>
                       {% if ware.description != "NULL" %} 
                      <div class="entry-content">
                        <h3>简介</h3>
                        <p>{{ware.description}}</p>
                      </div>
                      {% endif %}
                      <footer class="entry-footer">
                            <div class="post-tags">
                              <span class="tags-links">
                                <i class="fa fa-tags"></i><a href="#">{{ware.type}}</a>
                              </span>
                            </div>
                        <ul class="list-inline right share-post">
                            
                            <li>
                                <a class="waves-effect  btn-flat"  style="float: left; " ><i class="fa fa-eye"></i><span>&nbsp;{{ware.view}}</span></a>
                            </li>

                            <li>
                                
                                {% if iliked %}
                                    <div id="like">
                                        <a class="waves-effect btn-flat " style="color:crimson" onclick="like()"><i class="fa fa-heart"></i><span id="like_count">&nbsp;{{ware.like}}</span></a>
                                    <div>
                                    
                                {% else %}
                                    <div id="like">
                                        <a class="waves-effect btn-flat " onclick="like()"><i class="fa fa-heart"></i><span id="like_count">&nbsp;{{ware.like}}</span></a>
                                    <div>
                                    
                                {% endif %}
                                </div>
                            </li>

                        </ul>
                      </footer>

                    </article><!-- /.post-wrapper -->

                    
                    <div class="comments-wrapper"  style="margin-top: 50px ">
                        <h2>{{comment_count}}条评论</h2>
                            {% if request.session.username %}
                            <div class="comments-tab">
                      
                                <div class="comment-respond">
                      
                                    <form action="#" onsubmit="return false" id="commentform">                      
                                        <div class="form-group comment-form-comment">
                                            <textarea class="form-control" id="commentarea" name="comment" placeholder="填写评论" rows="8" aria-required="true"></textarea>
                                        </div>
                      
                                        <div class="form-submit">
                                            <button class="btn btn-lg pink waves-effect waves-light" name="submit" type="submit" id="commentsubmit" value="">评论</button>
                                        </div>
                                    </form>
                      
                                </div>
                                                  
                            </div><!-- /.comments-tab -->
                            {% else %}
                            <div class="comments-tab">
                      
                                <div class="comment-respond">
                      
                                    <p><a href="/User/login.html">登录</a> & <a href="/User/signup.html">注册</a> 以撰写评论</p>
                      
                                </div>
                                                  
                            </div><!-- /.comments-tab -->                            
                            {% endif %}
                            <ul class="media-list comment-list mt-30" id="commentlist">
                                    {% for item in comment %}
                                      <!-- Comment Item start-->
                                    <li class="media">
        
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="avatar" src="../../media/User/{{item.username.id}}/head.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="author-name"><a href="/User/viewprofile.html?id={{item.username.id}}">{{item.username.username}}</a></h4>
        
                                                <div class="comment-meta">
                                                    {{item.time|date:"Y/m/d H:i:s"}}
                                                </div>
                                            </div>
        
                                            <p>{{item.content}}</p>
        
                                        </div>
                                    </li>
                                      <!-- End Comment Item -->
        
                                      {% endfor %}
        
                            </ul>
                      
                      
                        </div>

                  </div><!-- /.posts-content -->
                </div><!-- /.col-md-8 -->

                <div class="col-md-4">
                  <div class="tt-sidebar-wrapper" role="complementary">



                      <div class="widget widget_tt_author_widget">

                        <div class="author-info-wrapper">

                            <div class="author-cover">
                                <img src="../../media/User/{{ware.username.id}}/thumb.jpg" alt="">
                            </div>

                            <div class="author-avatar">
                                <img src="../../media/User/{{ware.username.id}}/head.jpg" alt="">

                                <h2>{{ware.username.username}}</h2>
                                <span>{{ware.username.job}}</span>
                            </div>

                            <p>{{ware.username.description}}</p>

                        </div> <!-- /author-info-wrapper -->
                      </div><!-- /.widget_tt_author_widget -->



    
                  </div><!-- /.tt-sidebar-wrapper -->
                </div><!-- /.col-md-4 -->

              </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

<script type="text/javascript">
    function like(){
        $.ajax(
            {
                url: './like',
                type: 'POST',
                data: {workid: "{{ware.workid}}"},
                dataType: 'json',
                success: function(result) {
                    if ( result.result == "like" ) {
                        $("#like").html('<a class="waves-effect btn-flat " onclick="like()" style="color:crimson" ><i class="fa fa-heart"></i><span id="like_count" style="margin-left:5px">{{ware.like}}</span></a>');
                    }
                    else{
                        $("#like").html('<a class="waves-effect btn-flat " onclick="like()" ><i class="fa fa-heart"><span id="like_count"  style="margin-left:5px">{{ware.like}}</span></i></a>');
                    }
                    $("#like_count").text(result.count)
                    
                }                
            }
        );
    };

    $("#commentsubmit").click(function (){
        var comment = $('#commentarea').val()
        $.ajax(
            {
                url: './comment',
                type: 'POST',
                data: {comment: comment, workid: "{{ware.workid}}"},
                dataType: 'json',
                success: function(result){
                    $("#commentlist").prepend('<li class="media"><div class="media-left"><a href="#"><img class="avatar" src="../../media/User/'+result.userid+'/head.jpg"></a></div><div class="media-body"><div class="comment-info"><h4 class="author-name"><a href="/User/viewprofile.html?id='+result.userid+'">'+ result.username +'</a></h4><div class="comment-meta">'+ result.time +'</div></div><p>'+ result.comment +'</p></div></li>');
                    $('#commentarea').val("")
                }
            }
        )
    }
    )
</script>
{% endblock %}