{% extends 'homemaster.html' %} {% block content %} {% include 'homenav.html' %}
<!-- animated-headline -->
<link href="../static/front/css/animated-headline.css" rel="stylesheet">
<script src="../static/front/js/animated-headline.js"></script>


<!-- Hero Section -->
<section class="banner-wrapper parallax-bg banner-explore fullscreen-banner valign-wrapper overlay dark-5" data-stellar-background-ratio="0.5">
    <div class="valign-cell">
        <div class="container">
            <div class="text-center">
                <h1 class="tt-headline clip is-full-width">
                    <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
                    <span>探索 </span>
                    <span class="tt-words-wrapper">
                        <b class="is-visible">创意项目</b>
                        <b>创意者</b>
                        <b>博客</b>
                    </span>
                </h1>

            </div>
            <div class="promo-box gray-bg mb-50">

                <form method="POST" action="/Home/exploreresult.html" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="promo-info">
                        <input type="text" class="form-control" name="search" id="explore" required="required" placeholder="输入以探索">
                    </div>
                    <div class="promo-btn">
                        <button class="btn pink btn-lg waves-effect waves-light" type="submit" style="width:100%">
                            <i class="fa fa-search"></i> 探索</button>
                    </div>
                </form>

            </div>



        </div>
        <!-- /.container -->

    </div>
    <!-- /.valign-cell -->

</section>
<!-- Hero Section End -->

<script type="text/javascript">
    function explore() {
        var explorecontent = document.getElementById('explore').value
        $.ajax({
            url: './exploreresult',
            type: 'POST',
            data: { explorecontent: explorecontent },
            dataType: 'json',
            success:function(result){
                window.location.href = '/Home/exploreresult.html';
            }
        })
    }
</script> 
{% endblock %}