{% extends 'homemaster.html' %}

{% block content %}
{% include 'homenav.html' %}

        <!--page title start-->
        <section class="page-title page-title-center cover-2 padding-top-220 padding-bottom-120 overlay dark fixed-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text font-40 text-bold">维度 · 创意者</h2>
                    </div>
                    <span class="sub-intro lead white-text">分享、发现、创造属于你的维度</span>
                    {% if not request.session.username %}
                      <a href="/User/login.html" class="btn btn-lg waves-effect waves-light mt-30">立即开始</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <!--page title end-->





        <section class="section-padding ">
            <div class="container">
              <div class="text-center mb-80">
                <h2 class="section-title text-uppercase">随时随地发掘3D内容</h2>
              </div>

              <div class="portfolio-container text-center">

                  <div class="portfolio portfolio-with-title col-5 gutter mtb-50">

                    {%  for item in ware %}
                        <!-- item -->
                      <div class="portfolio-item"> 
                        <div class="portfolio-wrapper">

                          <div class="thumb">
                              <div class="bg-overlay"></div>
                              <img src="../media/Warehouse/{{item.workid}}/jpg.jpg" alt="">

                              <div class="portfolio-intro">
                                <div class="action-btn">
                                    <a href="/Home/collection-single.html?workid={{item.workid}}"> <i class="material-icons">&#xE8B6;</i></a>
                                </div>
                              </div>

                          </div>

                          <div class="portfolio-title">
                              <h5></a>{{item.title}}</h5>
                              <p><a href="/User/viewprofile.html?id={{item.username.id}}">{{item.username.username}}</a> </p>
                              <p><i class="fa fa-eye"></i>  {{item.view}}&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i>  {{item.like}}</p>

                          </div>

                        </div><!-- /.portfolio-wrapper -->
                      </div><!-- /.portfolio-item -->
                    <!-- item -->
                    
                    {% endfor %}

              </div><!-- portfolio-container -->
              <div class="load-more-button text-center">
                <a href="/Home/collection.html" class="waves-effect waves-light btn mt-30"> <i class="fa fa-arrow-right"></i> 更多创意项目</a>
              </div>
            </div><!-- /.container -->
        </section>

        <section class="section-padding list-news">
          <div class="container">

            <div class="text-center mb-80">
                <h2 class="section-title text-uppercase">最近新闻</h2>
            </div>


            <div class="row">
              <div class="col-md-6">
                  <article class="post-wrapper list-article">

                    <div class="hover-overlay brand-bg"></div>

                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                      <a href="#"><img src="assets/img/blog/blog-20.jpg" class="img-responsive" alt="" ></a>
                    </div><!-- .post-thumb -->

                    <div class="blog-content">
                      <header class="entry-header-wrapper">
                        <div class="entry-header">
                          <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2015</a></h2>

                          <div class="entry-meta">
                              <ul class="list-inline">
                                  <li>
                                      <i class="fa fa-user"></i> <a href="#">TrendyTheme</a>
                                  </li>
                                  <li>
                                      <i class="fa fa-clock-o"></i> <a href="#">Jan 15, 2016</a>
                                  </li>
                              </ul>
                          </div><!-- .entry-meta -->
                        </div><!-- /.entry-header -->
                      </header><!-- /.entry-header-wrapper -->

                      <div class="entry-content">
                        <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                      </div><!-- .entry-content -->
                    </div>

                  </article><!-- /.post-wrapper -->
              </div><!-- /.col-md-6 -->


            </div><!-- /.row -->

          </div><!-- /.container -->
      </section>
      <!-- List News End -->


{% endblock %}