<!--
<div id="sidebar-collapse" class="col-sm-2 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
        </div>
    </form>
    <ul class="nav menu">
        <li id="pyspider1" ><a href="/Pyspider_Manage/templates.html"><span class="glyphicon glyphicon-dashboard"></span>Pyspider模版管理</a></li>
        <li id="pyspider2" ><a href="/Pyspider_Manage/project.html"><span class="glyphicon glyphicon-stats"></span>Pyspider运行状态</a></li>
        <li role="presentation" class="divider"></li>
        <li id="circlelist" ><a href="/Circle/circlelist.html"><span class="glyphicon glyphicon-globe"></span>商圈列表</a></li>
        <li id="bound" ><a href="/Circle/bound.html"><span class="glyphicon glyphicon-globe"></span>边界探测</a></li>
        <li id="poi" ><a href="/Circle/poi.html"><span class="glyphicon glyphicon-globe"></span>POI查询</a></li>

        <li role="presentation" class="divider"></li>
        <li id="struct" ><a href="/Circle/struct.html"><span class="glyphicon glyphicon-globe"></span>商圈结构</a></li>
        <li id="compare" ><a href="/Circle/compare.html"><span class="glyphicon glyphicon-globe"></span>商圈对标</a></li>
        <li id="similar" ><a href="/Circle/similar.html"><span class="glyphicon glyphicon-globe"></span>相似商圈</a></li>
        <li id="test"><a href="/Circle/test.html">TEST</a></li>
        <li role="presentation" class="divider"></li>

        <li id="marketstruct" ><a href="/Circle/market.html?market=1859284"><span class="glyphicon glyphicon-globe"></span>商场结构</a></li>
        <li id="marketcompare" ><a href="/Circle/marketCompare.html?market1=1859284&market2=17970859"><span class="glyphicon glyphicon-globe"></span>商场对标</a></li>
        <li id="marketSimilar" ><a href="/Circle/marketSimilar.html"><span class="glyphicon glyphicon-globe"></span>相似商场</a></li>

        <li role="presentation" class="divider"></li>


        <li id="onlinedata" ><a href="/Online/index.html"><span class="glyphicon glyphicon-stats"></span>线上行为分析</a></li>
        <li id="finger" ><a href="/Online/finger.html"><span class="glyphicon glyphicon-stats"></span>指纹库规则管理</a></li>
        <li id="jsgl" ><a href="#"><span class="glyphicon glyphicon-globe"></span>用户画像映射字典</a></li>
        

        <li id="tkgl" class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> #<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li id="bctk">
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> #
                    </a>
                </li>
                <li id="xztk">
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> #
                    </a>
                </li>
                <li id="office">
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> #
                    </a>
                </li>
            </ul>
        </li>
        <li id="jsgl" ><a href="#"><span class="glyphicon glyphicon-list"></span> #</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-th"></span> #</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-stats"></span> #</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> #</a></li>
    </ul>
</div>
-->
<aside id="navigation">
    <div class="navigation__header">
        <i class="zmdi zmdi-menu" data-mae-action="block-close"></i>
    </div>


    <div class="navigation__menu c-overflow">
        <ul>
            <li class="navigation">
                <a href="/Home/index.html"><i class="zmdi zmdi-arrow-left"></i> 离开小黑屋</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/index.html"><i class="zmdi zmdi-home"></i> 仪表板</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/warehouse.html"><i class="zmdi zmdi-folder-star"></i> 仓库</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/shelf.html"><i class="zmdi  zmdi-local-shipping"></i> 货架</a>
            </li>            
            <li class="navigation">
                <a href="/User/profile.html"><i class="zmdi zmdi-account-box"></i> 个人信息</a>
            </li>  

        </ul>
    </div>
</aside>


