
<aside id="navigation">
    <div class="navigation__header">
        <i class="zmdi zmdi-menu" data-mae-action="block-close"></i>
    </div>


    <div class="navigation__menu c-overflow">
        <ul>
            <li class="navigation">
                <a href="/Home/index.html"><i class="zmdi zmdi-close"></i> 离开小黑屋</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/index.html"><i class="zmdi zmdi-view-dashboard"></i> 今日</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/warehouse.html"><i class="zmdi zmdi-folder-star"></i> 仓库</a>
            </li>
            <li class="navigation">
                <a href="/Dashboard/shelf.html"><i class="zmdi  zmdi-local-shipping"></i> 货架</a>
            </li>            
            <li class="navigation">
                <a href="/User/profile.html"><i class="zmdi zmdi-account-box"></i> 个人信息</a>
            </li>  

        </ul>
    </div>
</aside>


