{% extends 'master.html' %}

{% block content %}
<style>
.chart-sparkline-pie {
    display: inline-block;
    margin-right: 10px;
}

</style>
<header class="content__header">
    <h1>今日</h1>
</header>
<div id="content__grid" data-columns>


    <div class="card widget-past-days animated fadeInUpBig">

        <div class="card__header">
            <h2>概览<small>今日数据汇总</small></h2>

        </div>        
        

        <div class="list-group list-group--striped">
            <div class="list-group-item">

                <div class="widget-past-days__info">
                    <h5>项目访问量</h5>
                    <h3>{{viewcal}}</h3>
                </div>
            </div>
            <div class="list-group-item">
                <div class="widget-past-days__info">
                    <h5>点赞</h5>
                    <h3>{{likecal}}</h3>
                </div>
            </div>

            <div class="list-group-item">
                <div class="widget-past-days__info">
                    <h5>新增关注</h5>
                    <h3>{{newfollowercal}}</h3>
                </div>
            </div>


        </div>
    </div>

    <div class="card animated fadeInUpBig">
            <div class="card__header">
                <h2>项目排行 <small>看看哪些最受大家欢迎</small></h2>
            </div>

            <div class="list-group">
                {% for item in most_view_ware %}
                <a href="/Dashboard/ware.html?workid={{item.workid}}" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="../media/Warehouse/{{item.workid}}/jpg.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <div class="list-group__heading">{{item.title}}</div>
                        <div class="list-group__text">于{{item.opendate}}创建</div>
                    </div>
                </a>
                {% endfor %}

                <a href="/Dashboard/warehouse.html" class="view-more">
                    <i class="zmdi zmdi-long-arrow-right"></i> 去仓库看看
                </a>
            </div>
    </div>

                    <!-- Post -->
    <div class="card animated fadeInUpBig">
        <div class="card__header">
            <h2>
                最近新闻
                <small>2017/12/17</small>
            </h2>
        </div>
        <div class="card__header card__header--img" style="background-image: url(demo/img/note.png); height: 100px;"></div>

        <div class="card__body">
            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra </p>

            <a href="" class="view-more text-left"><i class="zmdi zmdi-long-arrow-right"></i> 阅读全文</a>
        </div>

        <div class="list-group">
                {% for item in latest_news %}
                <a href="/Dashboard/ware.html?workid={{item.workid}}" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="../media/Warehouse/{{item.workid}}/jpg.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <div class="list-group__heading">{{item.title}}</div>
                        <div class="list-group__text">于{{item.publishdate}}创建</div>
                    </div>
                </a>
                {% endfor %}

        </div>
    </div>


</div>

<!--
<script>
    $(document).ready(function () {

            $.getJSON('/Dashboard/ajax_dict/',function(data){
                   $('#viewcal').html(data[0]+','+data[1]+','+data[2])
            })

    })
</script>
-->

<!-- Main Flot library -->
<script src="../static/back/vendors/bower_components/flot/jquery.flot.js"></script>

<!-- Responsive charts -->
<script src="../static/back/vendors/bower_components/flot/jquery.flot.resize.js"></script>

<!-- tooltips -->
<script src="../static/back/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <!-- Salvattore -->
<script src="../static/back/vendors/bower_components/salvattore/dist/salvattore.min.js"></script>
        
        
                <!-- Sparkline Charts -->
<script src="../static/back/vendors/jquery.sparkline/jquery.sparkline.min.js"></script>
        
<script src="../static/back/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<script>
    $(document).ready(function () {
        // Function for Sparkline Line Chart
        function sparklineLine(id, width, height, lineColor, fillColor, lineWidth, maxSpotColor, minSpotColor, spotColor, spotRadius, hSpotColor, hLineColor) {
            $('.'+id).sparkline('html', {
                type: 'line',
                width: width,
                height: height,
                lineColor: lineColor,
                fillColor: fillColor,
                lineWidth: lineWidth,
                maxSpotColor: maxSpotColor,
                minSpotColor: minSpotColor,
                spotColor: spotColor,
                spotRadius: spotRadius,
                highlightSpotColor: hSpotColor,
                highlightLineColor: hLineColor
            });
        }



        //var myvalues = [10,8,5,7,4,4,1];

        $.getJSON('/Dashboard/ajax_dict/',function(data){
            var myvalues = [1,2,3,4,5];
            return myvalues
        })
        
        // Function for Sparkline Bar Chart
        function sparklineBar(id, height, barWidth, barColor, barSpacing) {
            $('.'+id).sparkline(myvalues, {
                type: 'bar',
                height: height,
                barWidth: barWidth,
                barColor: barColor,
                barSpacing: barSpacing,
                //value: myvalues
            })
        }
    

        //Past 7 days (Sparkline Bar Chart)
        if ($('.chart-sparkline-bar')[0]) {
            sparklineBar('chart-sparkline-bar', 55, 5, '#b4bfc3', 2);

        }
       // var myvalues = [10,8,5,7,4,4,1];
        //$('.chart-sparkline-bar').sparkline(myvalues,{ type: 'bar' });
    
    });
</script>
<script>
$(document).ready(function () {
    $('.chart-pie').each(function () {
        var value = $(this).data('pie-value');
        var size = $(this).data('pie-size');

        $(this).find('.chart-pie__value').css({
            lineHeight: (size-2)+'px',
            fontSize: (size/4)+'px'
        });

        $(this).easyPieChart ({
            easing: 'easeOutBounce',
            barColor: 'rgba(255,255,255,0.6)',
            trackColor: '#22313a',
            scaleColor: 'rgba(0,0,0,0)',
            lineCap: 'round',
            lineWidth: 2,
            size: size,
            animate: 3000,
            onStep: function(from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        })
    });
});
</script>
{% endblock %}