{% extends 'homemaster.html' %}

{% block content %}
{% include 'homenav.html' %}

<link href="../static/front/css/shortcodes/login.css" rel="stylesheet">

<link href="../static/back/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
<script src="../static/back/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>


<section class="section-padding banner-wrapper parallax-bg banner-login fullscreen-banner valign-wrapper overlay dark-5">
    <div class="container">

        <div class="login-wrapper">
          <div class="card-wrapper"></div>
          <div class="card-wrapper">
            <h1 class="title">登录</h1>
            <form role="form" method="post" action="/User/login.html">
                {% csrf_token %}
              <div class="input-container">
                <input type="text" id="username" name="username" required="required" class="form-control" autocomplete="off" />
                <label for="username">用户名</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="password" name="password" required="required" class="form-control" autocomplete="off" />
                <label for="password">密码</label>
                <div class="bar"></div>
              </div>
              <h4 class="text-center"><b>{{notice}}</b></h4>
              <div class="button-container">
                <button type="submit" class="btn btn-lg btn-block waves-effect waves-light">登录</button>
              </div>
              <div class="footer">

                  <a href="/User/signup.html">注册新账号</a>

              
              </div>

            </form>
          </div>

        </div>

    </div>
</section>

<script>
    $('.toggle').on('click', function() {
      $('.login-wrapper').stop().addClass('active');
    });

    $('.close').on('click', function() {
      $('.login-wrapper').stop().removeClass('active');
    });
    function check(){ 
      with(document.all){
        if(document.forms.signup.newusername.value==''){
          return false;
        }
        if(document.forms.signup.newpassword.value==''){
          return false;
        }
        if(document.forms.signup.repeat_password.value==''){
          return false;
        }        

        if(newpassword.value!=repeat_password.value){
          swal(
            "注册失败",
            "两次密码输入不一致",
            "warning"
          )
          newpassword.value = "";
          repeat_password.value = "";
        }
        
        else {
          document.forms.signup.submit();
        }

      }
      
    }
</script>







<!-- Javascript Libraries -->

<!-- jQuery -->

{% endblock %}